{% extends 'demo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="page-header">Create New Object</h1>
{% include 'demo/messages.html' %}
<div class="row">
  <div class="col-sm-8">
    <form action="{% url 'demo:store' %}" method="post">
      {% csrf_token %}
      <p>{{ form|crispy }}</p>
      <p>
        <input class="btn btn-lg btn-primary" 
               type="submit" value="Save"/>
        <a class="btn btn-lg btn-primary" 
           href="{% url 'demo:index' %}" 
           role="button">Back</a></p>
      </p>
    </form>
  </div>
</div>
{% endblock %}

